* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Nunito Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5E5E5;
    padding: 20px;
    border-bottom: 1px solid white;
    width: 1196px;
}

.b-menu {
    display: none;
    position: absolute;
    right: 23px;
    top: 30px;
}

.nav-bar {
    display: flex;
    list-style: none;
    gap: 35px;
}

a {
    text-decoration: none;
    color: black;
}

header,
#acceuil,
#temoignages,
#apprentis,
#soutien {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-acceuil {
    background-color: white;
    width: 1196px;
    height: 514px;
    margin-top: 39px;
    box-shadow: 1px 1px 3px #D9DEE1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.acceuil-text > h1 {
    color: #CF3034;
    font-size: 38px;
}

.logo-acc {
    width: min(300px, 90%);

}

.acceuil-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 22px;
    
}

.photo-acceuil {
    max-width: min(578px, 90%);
}

.formations-btn {
    background-color: #CF3034;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 14px 32px;
    margin-right: 20px;
    min-width: 193px;
}

.formations-btn:hover, 
.savoir-btn:hover {
    background-color: white;
    color: #CF3034;
    border: 1px solid #CF3034;
}

.question-btn {
    background-color: white;
    color: #CF3034;
    border-radius: 6px;
    border: 1px solid #CF3034;
    padding: 14px 32px;
    min-width: 193px;
}

button {
    font-weight: bold;
}

.subtitle {
    margin: 50px;
    margin-left: 85px;
    font-size: 38px;
}

.notre-impact {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    width: min(1196px, 90%);
    margin: auto;
    justify-content: center;
}

.notre-impact > div {
    background-color: white;
    width: 197px;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.notre-impact > div:nth-of-type(4){
    background-color: #CF3034;
    color: white;
}

.card.h {
    color: #CF3034;
    font-size: 64px;
}

.simploniens > p,
.fabriques > p,
.sorties > p,
.bilan > p {
    margin: 0px 19px;
}

.temoignages {
    background-color: white;
    width: 1196px;
    height: 475px;
    box-shadow: 1px 1px 3px #D9DEE1;
    display: flex;
}

.quotes {
    font-size: 96px;
    color: #CF3034;
    line-height: 0px;
}

.temoignages-text {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 90px 59px;
    padding-top: 20px;   
}

.temoignages-img {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-right: 60px;
}

.sliding {
    display: flex;
    justify-content: center;
    margin-top: 17px;
    font-size: 24px;
}

.slide.one {
    margin-right: 41px;
}

.slide.two {
    margin-left: 41px;
}

.apprentis {
    width: 1196px;
    height: 375px;
    position: relative;
    display: flex;
    justify-content: end;
}

.formations-CFA {
    background-color: white;
    width: 511px;
    height: 323px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    position: absolute;
}

.aprendiz {
    width: 100%;
    height: 100%;
}

.aprendiz-two {
    display: none;
}

.cfa-b {
    font-weight: bold;
}

.savoir-btn {
    background-color: #CF3034;
    color: white;
    border-radius: 6px;
    width: 193px;
    min-height: 52px;
    border: none;
}

.soutiens {
    width: 1196px;
    height: 163px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 13%);
    justify-content: center;
    align-content: center;
    gap: 10px;
}

figure {
    display: flex;
    justify-content: center;
}

.arrow-parent {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#arrow-section {
    display: flex;
    justify-content: space-between;
    width: 1196px;
}

.play-btns {
    width: 650px;
    display: flex;
    justify-content: end;
}

.arrows-play {
    display: flex;
    padding-bottom: 25px;
    margin-top: 10px;
}

.v-r, .v-l {
    margin: 0px 36px;
}

.pause {
    background-color: #CF3034;
    width: 4px;
    height: 23px;
}

.ps-btn {
    display: flex;
    gap: 6px;
}

/* CHECK THE POSITION */
.arrow-right {
    background-color: #CF3034;
    width: 47px;
    height: 47px;
}

.arrow {
    filter: invert();
}

footer {
    background-color: #CF3034;
    color: white;
    width: 100vw;
}

.simplon-inscription {
    display: flex;
    justify-content: center;
    gap: 145px;
    padding-top: 50px;
    flex-wrap: wrap;
}

form {
    display: flex;
    align-items: center;
}

input {
    width: 315px;
    height: 32px;
    border: 1px solid white;
    background-color: #CF3034;
    color: white;
    padding: 7px 21px;
}

input::placeholder {
    color: white;
}

.input-btn {
    border: none;
    background-color: white;
    width: 32px;
    height: 31px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 30px;
}

.socials > div {
    background-color: #CF3034;
    border: 1px solid white;
    border-radius: 70px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-mn {
    display: flex;
    justify-content: center;
    gap: 28px;
    list-style: none;
    margin-top: 50px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.ft-mn > li > a {
    color: white;
    border-right: 1px solid white;
    padding-right: 28px;
}

.ft-mn > li:nth-last-child(1) > a {
    border-right: none;
}

 @media screen and (max-width: 950px) { /*you have to decide when to move the image to bottom */
    .nav-bar {
        display: none;
    }

    .b-menu {
        display: block;
    }

     .container-acceuil {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-top: 0px;
    }

    .subtitle {
        margin: 50px;
        margin-left: 17px;
        font-size: 38px;
    }

    .acceuil-text {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        gap: 15px;
    } 

    .photo-acceuil {
        padding-top: 20px;
    }

    .notre-impact {
        display: grid;
        grid-template-columns: repeat(2, 215px);
        grid-template-rows: repeat(2, 267px);
        justify-content: center;
    }

    .temoignages {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .temoignages-text {
        gap: 22px;
        margin: 65px 59px 0px 59px;
        padding-top: 20px;
 
    }

    .temoignages-img {
        padding-bottom: 0px;
        margin-right: 0px;
        padding: 40px;
    }

    .temoignages-img > img {
        display: none;
    }

    .apprentis {
        background-color: white;
    }

    .formations-CFA {
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aprendiz {
        display: none;
    }

    .arrow-parent {
        background-color: white;
    }


    .play-btns {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}



@media screen and (max-width: 501px){

    .container-acceuil {
        margin-top: 0px;
    }

    .acceuil-text {
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: start;
        padding-left: 0px;
        padding-right: 0px;
    } 
    
    .photo-acceuil {
        display: none;
    }

    .notre-impact {
        display: grid;
        grid-template-columns: repeat(2, 181px);
        grid-template-rows: repeat(2, 183px);
        justify-content: center;
        gap: 4px;
    }

    .notre-impact > div {
        background-color: white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .buttons {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .formations-btn {
        padding: 14px 32px;
        margin-right: 0px;
    }

    .formations-CFA {
        width: 100%;
        height: 100%;
        padding: 16px;
    }

    .apprentis {
        height: 430px;
        position: relative;
        display: flex;
        justify-content: end;
    }
    .aprendiz {
        display: none;
    }
    
    .aprendiz-two {
        display: block;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    .notre-impact {
        flex-wrap: nowrap;
    }

    .savoir-btn {
        min-width: 100%;
    }

    .arrow-parent {
        width: 100%;
    }

    #arrow-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .play-btns {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    figure > img {
        width: auto;
        height: 48px;
    }

    .ft-mn {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
   
    .ft-mn > li > a {
        border-right: none;
    }
}